.cpanel-container{
    background: #000 !important;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-color:#212529 ;
    padding-bottom: 10%;
    .navbar-cpanel{
        border-bottom: 2px solid gray !important;
        color: #FFFFFF;
        }
        div.adminCpanel{
            background: #000 !important;
            height: 100vh;
            object-fit: cover;
            .sidebar{
                width:30%;           
                ul{ 
                    .nav-item.active a.nav-link {
                        color: #FFFFFF !important;
                        font-size: 20px;
                        font-weight: 600;
    
                    }
                    .nav-item a.nav-link:hover {
                        cursor: pointer;
                    }
            
                    li {
                        .dropdown-toggle::after {
                            display: none !important;
                        }
                
                        .dropdown-menu {
                            right: -132px !important;
                            left: auto !important;
                            top:-30px !important;
                        }
                        .page-layout {
                            right: -265px !important;
                            left: auto !important;
                            top:-30px !important;
                        }
                        .world-cup {
                            right: -287px !important;
                            left: auto !important;
                            top:-30px !important;
                        }                
                        .dropdown-menu li a{
                            text-decoration: none;
                        }
                        a {
                            color:#000 !important;
                            font-size: 22px ;
                            font-weight: 500;
                            .arrow-d{
                                margin-left:98% !important;
                            }
                            .arrow-s{
                            margin-left:76% !important;
                            }
                            .arrow-p{
                                margin-left:94% !important;
                            }
                            .arrow-w{
                                margin-left:119% !important;
                            }
                        }
                    }
                }
                .section{
                    background-color: #646464 !important;
                    width:278px;
                    height:215px;
                    margin:0 auto;
                    border:.5px ;
                    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
                    opacity: .9;
                }
            }
            .main{
                width:70%;
                
                
                            
            }
        }
    div.quizMaster{
        background: #000 !important;
        height: 100vh;
        object-fit: cover;
        .sidebar{
            width:25%;           
            ul{ 
                .nav-item.active a.nav-link {
                    color: #FFFFFF !important;
                    font-size: 20px;
                    font-weight: 600;
                    

                }
                .nav-item a.nav-link:hover {
                    cursor: pointer;
                }
        
                li {
                    padding-bottom: 10px;
                    .dropdown-toggle::after {
                        display: none !important;
                    }
            
                    .dropdown-menu {
                        right: -132px !important;
                        left: auto !important;
                        top:-30px !important;
                        
                    }
                    .page-layout {
                        right: -265px !important;
                        left: auto !important;
                        top:-30px !important;
                        
                    }
                    .world-cup {
                        right: -287px !important;
                        left: auto !important;
                        top:-30px !important;
                    }                
                    .dropdown-menu li a{
                        text-decoration: none;
                    }
                    a {
                        color:#000 !important;
                        font-size: 22px ;
                            font-weight: 500;
                            
                        .arrow-d{
                            margin-left:98% !important;
                        }
                        .arrow-s{
                        margin-left:76% !important;
                        }
                        .arrow-p{
                            margin-left:94% !important;
                        }
                        .arrow-w{
                            margin-left:119% !important;
                        }
                    }
                }
            }
            .section{
                background-color: #646464 ;
                opacity: .9;
                width:278px;
                height:215px;
                margin:0 auto;
                border:.5px ;
                box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
                padding: 10px;
                
            }
        }
        .main{
            max-width:100%;
            // background-color: #FFFFFF;
            min-height: 100vh;
            padding-bottom: 5%;
            div#main-content{
                max-width: 100%;
                // padding: 0;
                margin: 0;
            }
            div.showEventContainer{
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                .teamContainer{
                    border: 2px solid #FFFFFF;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-right: 5px;
                    margin: 5px;  
                    color: #FFFFFF; 
                    cursor: pointer; 
                    border-radius: 50%;
                    width: 250px;
                    height: 250px; 
                    text-align: center;
  
                    h2{
                        padding-top: 35%;
                    }        
                }
               .analyticsContainer{
                    border: 2px solid #FFFFFF;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #FFFFFF;
                    margin: 5px;
                    cursor: pointer; 
                    border-radius: 50%;
                    width: 250px;
                    height: 250px; 
                    text-align: center;
  
                    h2{
                        padding-top: 35%;
                    }           

               }
               .rewardContainer{
                    border: 2px solid #FFFFFF;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #FFFFFF;
                    margin: 5px;
                    cursor: pointer;  
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;   
                    text-align: center;
                    h2{
                        padding-top: 35%;
                    }          

               }
               .quizSetContainer{
                    border: 2px solid #FFFFFF;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #FFFFFF;
                    margin: 5px;
                    cursor: pointer;  
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;   
                    text-align: center;
                    h2{
                        padding-top: 35%;
                    }          

               }
               .teamContainer-content{
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #FFFFFF;
                    margin: 5px;
                    width: 100%;
                    
                    .modal-content{
                        display: flex;
                        button{
                            width: 40px;
                            border: none;
                            background: none;
                            opacity: .5;
                        }
                        .teams{
                            display: flex;
                            margin: 20px;
                            .teamList-content{
                                border: 3px solid #FFFFFF;
                                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                                width: 30%;
                                min-height: 400px;
                                padding: 2%;
                                border-radius: 10px;
                                margin-left: 5%;


                            h5{
                                text-align: center;
                                color: #FFFFFF;
                            }
                            .teamList{
                                
                                ul{
                                    list-style-type: none;
                                    display: flex;
                                    flex-direction: column;
                                    li{
                                        border: 2px solid #FFFFFF;
                                        padding: 10px;
                                        background-color: #FFFFFF;
                                        color: #fff;
                                        margin-bottom: 5px;
                                        font-size: 18px;
                                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                        }
                        .allTeamMember-content{
                            border: 3px solid #FFFFFF;
                            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            margin-left: 5%;
                            padding: 2%;
                            width: 30%;
                            min-height: 400px;
                            border-radius: 10px;
                            h5{
                                text-align: center;
                                color: #FFFFFF;
                            }
                            .allTeamMember{
                            ul{
                                list-style-type: none;
                                display: flex;
                                flex-direction: column;
                                li{
                                    padding: 10px;
                                    color: #FFFFFF;
                                    margin-bottom: 5px;
                                    font-size: 20px;
                                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                                    font-weight: 700;
                                }
                            }
                        }
                        }
                       
                    }
                }               
            }
            div.quiz_set-container{
                color: #FFE7D5;
                font-size: 22px;
                font-weight: 400;
                #setRequirementsForm{
                    button{
                        margin-top: 3%;
                    }
                }
                .questionContainer{
                    margin: 2%;
                    margin-bottom: 10%;
                    .quizSetContainer{
                          border: 2px solid #FFFFFF;
                          padding: 1%;
                          .quizSet{
                            font-size: 22px;
                            color: #FFFFFF;
                            margin: 0 auto;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                            font-weight: 500;

                          }
                          .question{
                            font-size: 18px;
                            margin: 0 auto;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                            font-weight: 500;
                            margin-top: 4%;
                            ul{
                                display: flex;
                                li{
                                    list-style-type:none;
                                    color: #000;
                                    font-size: 16px;
                                    font-weight: 500;
                                    width: 200px;
                                    border: 2px solid #646464 ;
                                    background-color: #FFE7D5;
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                                    padding: 10px;
                                    margin: 5px;
                                }
                            }

                          }
                    }
                }
            }            
        }
            
    }
button.btn-add{
    width: 300px !important;
    height: 50px !important;
    background-color:#FFFFFF !important;
    color:#000 !important;
    font-size: 22px;
    font-weight: 700;

}
button.btn-view{
    width: 200px !important;
    height: 50px !important;
    background-color:#FFFFFF !important;
    color:#000 !important;
    margin-left: 30%;
    font-size: 22px;
    font-weight: 700;


}
button.btn-submit{
    width: 200px !important;
    height: 50px !important;
    background-color:#FFFFFF !important;
    color:#000 !important;
    font-size: 22px;
    font-weight: 700;
}
.form-container{
    margin-bottom: 10%;
    .question-form{
        background-color: #646464;
        color: #000;
        font-size: 22px;
        font-weight: 700;
        
    }
}
span.question-number{
    border: 1px solid;
    border-radius: 50%;
    background-color: aliceblue;
    padding: 5px !important;
    margin: 10px;
}
div.dashboard{
    .box-1{

        border: 1px solid rgb(96, 154, 235);
        height: 280px;
        background-color: rgb(96, 154, 235);
        border-radius: 15px;
        width: 540px;
        margin: 10px;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5); 
    }
    .box-2{
        border: 1px solid aliceblue;
        height: 280px;
        background-color:aliceblue;
        border-radius: 15px;
        width: 540px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5); 
        label{
            color: #000;
            font-size: 22px;
            font-weight: 400;
        }
        button{
            background-color: #FFFFFF;
            width: 100px;
            height: 40px;
            border-radius: 15px;
            margin-top: 20%;
            font-size: 22px;
           font-weight: 700;
        }
    }
    .box-3{
        border: 1px solid #FFFFFF;
        height: 370px;
        background-color:#FFFFFF;
        border-radius: 15px;
        width: 330px;
        margin: 10px;
        color: #000;
        font-size: 22px;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5); 
        font-weight: 400;
    }
    .box-4{
        border: 1px solid #FFFFFF;
        height: 185px;
        background-color:#FFFFFF;
        border-radius: 15px;
        margin-bottom: 10px;
        color: #000;
        font-size: 22px;
        font-weight: 400;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    }
    label.box1{
        color: red;
        font-weight: 700;
        font-size: 40px;
        display: flex;
    }
    span.box1{
        background-color: #fff;
    }
}
//create quiz section
div.quiz-container{
    margin:0 auto;
     text-align:center;
    align-items:center;
    padding-bottom: 15%;
    background-color: #000;
    .welcome{
        color:#FF4D00;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        font-weight:800;        
    }
    label{
        width:484px;
        height: 100px;
        border-color:#FFFFFF !important;
        border:1px solid;
        border-radius:5px;
        margin:15px;
        font-size:45px;
        font-weight:700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        color:#FFFFFF;
        cursor: pointer;
        display: inline-block; 
        line-height: 100px; 
        button{
            border: none;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
            color:#FFFFFF;
            cursor: pointer;
            background: none;
            font-size:45px;
            font-weight:700;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
           
        }
    }
    div.quizQuestions{
        background-color: #000;
        h2{
            color: #FFFFFF;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        }
        p{
        border-color:#FFFFFF !important;
        border:1px solid;
        border-radius:5px;
        margin:15px;
        font-size:27px;
        font-weight:700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        color:#FFFFFF; 
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li{
                border: 1px solid #FFFFFF;
                background-color: #FFFFFF;
                color: #000;
                margin: 10px;
                width: 240px;
                height: auto;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                font-weight:400;
                font-size:18px;
            }
        }
   }
}
}
div.pseudoBattleQuiz{    
    form.pseudoForm{
        button.pseudo-btn{
            background-color: #FFFFFF;
            padding: 10px;
            cursor: pointer;
            color: #000;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 18px;
            font-weight: 300;
            width: 200px ;
        }       
    }
    .registeredTeam{
        select{
            width: 400px;
            height: 40px;
            color:#000;
            border: 4px solid #FFFFFF;
            font-size: 22px;
            font-weight: 500;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}