
div.homepage {
    background-image: url('../images/Cover.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
    // margin: 0 !important;
    // padding: 0 !important;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
    // //background-color: black;
}
