.quiz-container{
    #quizSet{
        .questions{
            border: 1px solid #fff;
            margin-bottom: 2%;
        h2{
            color: aliceblue;
        }
        p{
            color: aliceblue;
            font-size: 22px;
        }
        ul{
            list-style-type: none;
            li{
                text-decoration: none;
                color: aliceblue;
                display: flex;
                flex-direction: column;
            }
        }
    }
    }
}