div.login-page{
    background: linear-gradient(to bottom left, black, #605c5c, black) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
    .row{
        width: 55% !important;
        padding: 0 !important;
        div.logo-pic{
            img{
            margin-left: 80%;
            margin-bottom: 10%;
            width: 100px;
            height: 70px;
        }
    }
    .login-box{
        background: linear-gradient(to bottom left, black, #605c5c, black) !important;
        border: 1px solid linear-gradient(to bottom left, black, #605c5c, black);
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        h2.login-heading{
            color: #a6a1a1 !important;
            border-bottom: 1px solid #a6a1a1 ;
        }
        form{
             div.form-group_login{
                margin: 40px;
                
                input{
                   background-color:rgb(151, 143, 143) !important;
          
                }
               button.btn_login{
                background-color: rgb(97, 94, 94);
                color: #f9f9f9;
                margin-left: 10%;
                border-radius: 5px;
                margin-bottom: 20px;
               }
               label.or{
                border-radius: 50%;
                background-color:rgb(97, 94, 94) ;
                padding: 3px;
                margin-left: 8%;
                padding: 5px;
                margin-bottom: 20px;

               }
               button.btn-register{
                border-radius: 5px;
                margin-left: 8%;
                background-color: rgb(97, 94, 94);
                padding: 5px;
                margin-bottom: 20px;

                a{
                    color: #f9f9f9;
                    text-decoration: none !important;
                }
               }
              
            }


                   }}
    }
    

       }
//registration code
div.registration-page{
    background-color: #000000 !important;
    overflow:auto ;
    width: 100%;
    height: auto;
    div.registration-row{
        background: linear-gradient(to bottom left, black, #605c5c, black) !important;
        .form-col{

            border-right: 1px solid #f9f9f9;
            font-size: 22px !important;
            color: #f9f9f9;
            font-weight: 500;
               input{
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0; /* Optional: Remove border-radius for a straight line */
                border-bottom:2px solid #948989 !important;
    
               }
               .form-check{
                    input{
                        border: 1px solid #ff4d00;
                    }           
                } 
                form{
                    button{
                      background-color: #ff4d00;
                       color: #f9f9f9;
                       font-size: 18px;
                       font-weight: 500;
                       
                   }
                   a{
                    text-decoration: none;
                    color: #ff4d00 !important;
                    font-size: 18px;
                    font-weight: 700;
                   }
               }        
            }
        }
    
}
        