div.login-page{
    background: linear-gradient(to bottom left, black, #605c5c, black) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
    .row{
        width: 55% !important;
        padding: 0 !important;
        div.logo-pic{
            img{
            margin-left: 80%;
            margin-bottom: 10%;
            width: 100px;
            height: 70px;
        }
    }
    .login-box{
        background: linear-gradient(to bottom left, black, #605c5c, black) !important;
        border: 1px solid linear-gradient(to bottom left, black, #605c5c, black);
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        h2.login-heading{
            color: #a6a1a1 !important;
            border-bottom: 1px solid #a6a1a1 ;
        }
        form{
             div.form-group_login{
                margin: 40px;
                
                input{
                   background-color:rgb(151, 143, 143) !important;
          
                }
               button.btn_login{
                background-color: rgb(97, 94, 94);
                color: #f9f9f9;
                margin-left: 10%;
                border-radius: 5px;
                margin-bottom: 20px;
               }
               label.or{
                border-radius: 50%;
                background-color:rgb(97, 94, 94) ;
                padding: 3px;
                margin-left: 8%;
                padding: 5px;
                margin-bottom: 20px;

               }
               button.btn-register{
                border-radius: 5px;
                margin-left: 8%;
                background-color: rgb(97, 94, 94);
                padding: 5px;
                margin-bottom: 20px;

                a{
                    color: #f9f9f9;
                    text-decoration: none !important;
                }
               }
              
            }


                   }}
    }
    

       }
//registration code
div.registration-page{
    // background: linear-gradient(to right, #000000, #292096); /* Adjust colors as needed */
    overflow:auto ;
    width: 100%;
    height: auto;
    div.registration-row{
        // background: linear-gradient(to bottom left, black, #605c5c, black) !important;
        .form-col{
            background: linear-gradient(to bottom, #FFFDFD66  , #FFFBFB);
            border-radius: 10PX;
            width: 40%;
            // border-right: 1px solid #f9f9f9;
            font-size: 22px !important;
            color: #f9f9f9;
            font-weight: 500;
               input{
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 20px; /* Optional: Remove border-radius for a straight line */
                border-bottom:2px solid #948989 !important;
    
               }
               .form-check{
                    input{
                        border: 1px solid #ff4d00;
                    }           
                } 
                form{
                    // background: linear-gradient(to bottom, #FFFDFD66  , #FFFBFB);
                    // border-radius: 10PX;
                    // width: 80%;
                    border: 1PX SOLID #000000;
                    color: #000000;
                    font-size: 20px;
                    font-weight: 400;
                    margin: 10PX;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
                    .button-group{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        button{
                            background: linear-gradient(to bottom, #023859  , #00000000);
                               font-size: 18px;
                               font-weight: 500;
                               border-radius: 50PX;
                               box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
                               border-bottom: none;
                               color: #EDD922;
                               width: 95px;
                               margin: 0 auto;
                               padding: 10px;
                           }
                           a{
                            text-decoration: none;
                            color: #ff4d00 !important;
                            font-size: 18px;
                            font-weight: 700;
                           }
                           p{
                            font-weight: 400;
                            font-size: 24px;

                           }
                    }
                    
               }        
            }
            .girl-image{
                margin-left: 8%;
            }
        }
    
}
        