div.quiz_events{
    .sidebar_event{
        nav{
            ul{
                li{
                    list-style-type: none;
                    button{
                        background: none;
                        border: none;
                    }
                }
            }
            .section{
                margin-bottom: 20%;
            ul{
                li{
                    list-style-type: none;

                    label{
                        color: #fff;
                        font-size: 28px;
                    }
                    select{
                        option{
                            font-size: 22px;
                            
                        }
                    }
                    a{
                        color: #fff;
                        font-size: 22px;
                    }
                }
            }
        }
        }
    }
    .mainContentEvent{
text-align: center;    
    .Brainy{
          color: #fff;
        }
        .Algo{
            color: #fff;
 
        }
        .Byte{
            color: #fff;

        }
        .Code{
            color: #fff;

        }
        .CodeCraft{
            color: #fff;

        }
    }
}